:root {
    --t-color: #F09E71;
    --frank-color: #93B592;
    --michael-color: #64B5CB;
    --dark-color: #000000;
    --light-color: #ffffff;

    --title-font: "Big Shoulders Display";
    --description-font: "Lexend Deca";
}