.column-main {
    width: 320px;
    min-height: 100vh;
    margin: 8rem 0;
    border-radius: 1rem;
}

.container {
    height: 440px;
    padding: 4.8rem;
}

.icons {
    height: 50px;
}

.name {
    font-family: var(--title-font);
    font-size: 3.9rem;
    margin-top: 1.6rem;
    width: 120px;
}

.description {
    line-height: 2.2rem;
    margin: 1rem 0 4rem;
    font-weight: 400;
}

.learn-button,
.description {
    width: 230px;
    font-size: 1.4rem;
}

.learn-button {
    font-weight: 400;
    padding: 1.3rem 3rem;
    border: solid 2px #fff;
    border-radius: 3rem;
    color: #fff;
}

.learn-button:hover {
    background-color: #fff;
}

.main-background,
.background-michael,
.background-trevor,
.background-franklin {
    background-position: center;
    background-size: cover;
}

.main-background {
    flex-direction: column;
    align-items: center;
    background-image: url('../images/3-columns/main-background.jpeg');
    font-family: var(--rounded-font);
}

.background-michael {
    background-image: url('../images/3-columns/michael-background.jpg');
    border-radius: 1.5rem 1.5rem 0 0;
}

.background-franklin {
    background-image: url('../images/3-columns/franklin-background.jpeg');
    border-radius: 0rem 0rem 1.5rem 1.5rem;
}

.background-trevor {
    background-image: url('../images/3-columns/trevor-background.jpg');
}

.michael-text-color {
    color: var(--michael-color);
}

.michael .learn-button:hover {
    background-color: var(--michael-color);
    border: 0px;
}

.michael .learn-button:hover {
    color: var(--light-color);
}

.trevor-text-color {
    color: var(--t-color);
}

.trevor .learn-button:hover {
    background-color: var(--t-color);
    border: 0px;
}

.trevor .learn-button:hover {
    color: var(--light-color);
}

.franklin-text-color {
    color: var(--frank-color);
}

.franklin .learn-button:hover {
    background-color: var(--frank-color);
    border: 0px;
}

.franklin .learn-button:hover {
    color: var(--light-color);
}

@media(min-width: 1080px) {

    .background-franklin,
    .franklin {
        border-radius: 0rem 1rem 1rem 0rem;
    }

    .michael,
    .background-michael {
        border-radius: 1rem 0rem 0rem 1rem;
    }

    .column-main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}