@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.back-button .picture {
    transform: rotate(180deg);
    height: 55px;
    width: 55px;
    padding: .6rem;
}

.back-button {
    position: fixed;
    display: flex;
    align-items: center;
}

.texts {
    font-size: .9rem;
    font-family: 'Raleway';
}

.white-text,
.black-text {
    font-weight: 500;
}

.white-text {
    color: #fff;
}

.black-text {
    color: #000000;
}

@media (max-width: 800px) {
    .back-button {
        background-color: #212121;
        position: relative;
    }
}