@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.back-button .picture {
    transform: rotate(180deg);
    height: 55px;
    width: 55px;
    padding: .5rem;
}

.back-button {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.10);
    padding: .5rem;
}

.texts {
    font-size: 1rem;
    font-family: 'Raleway';
}

.white-text,
.black-text {
    font-weight: 500;
}

.white-text {
    color: #fff;
}

.black-text {
    color: #000000;
}

@media (max-width: 800px) {
    .back-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.10);
    }
}