body {
    font-family: "Lexend Deca";
}

.main {
    background-color: #0B0B0B;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 320px;
    padding: 1.5rem;
    gap: 3rem;
}

.card-container {
    height: 430px;
    width: 300px;
    border-radius: 2rem;
}

.texts {
    padding: 1.7rem 2.3rem;
    color: #FFF;
    background-color: #000000;
    height: 120px;
    border-radius: 0 0 1rem 1rem;
    width: 300px;
}

.main-text {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 500;
}

.light-text {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 500;
}

img {
    height: 300px;
    border-radius: 1rem 1rem 0 0;
}

a {
    display: block;
    width: 100%;
    height: 100%;
}

.picture {
    display: block;
    width: 300px;
    height: 300px;
}

@media (min-width: 660px) {
    .main-container {
        width: 660px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 1024px) {
    .main-container {
        width: 1024px;
        justify-content: space-between;
        padding: 1rem;
        height: 900px;
    }

    .main {
        align-items: center;
        min-height: 100vh;
    }
}