body {
    font-family: "Lexend Deca";
}

.main {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 1.5rem;
    gap: 4rem;
    margin: 3rem 0;
}

.card-container {
    height: 430px;
    width: 300px;
    border-radius: 2rem;
}

.texts {
    padding: 1.7rem 2.3rem;
    color: #FFF;
    background-color: #000000;
    height: 120px;
    border-radius: 0 0 1rem 1rem;
    width: 300px;
    transition: .3s ease;
}

.main-text {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 500;
}

.light-text {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 500;
}

img {
    height: 300px;
    border-radius: 1rem 1rem 0 0;
}

a {
    display: block;
    width: 100%;
    height: 100%;
}

.picture {
    display: block;
    width: 300px;
    height: 300px;
    transition: 0.3s ease-in-out;
}

.picture:hover {
    filter: blur(2px);
}

.texts:hover {
    background-color: #FFF;
    color: #1a1a1a;
}

@media (min-width: 670px) {
    .main-container {
        flex-direction: row;
        width: 680px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 1024px) {
    .main-container {
        width: 1024px;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        height: 900px;
        margin: 1.4rem;
        gap: 1rem;
    }

    .main {
        align-items: center;
        min-height: 100vh;
    }
}