:root {
    --main-font: "Red Hat Display";

    --main-color: "hsl(225, 100%, 94%)";
    --strong-main-color: "hsl(245, 75%, 52%)";
    --very-soft-color: "hsl(225, 100%, 98%)";
    --soft-color: "hsl(224, 23%, 55%)";
    --dark-main-color: "hsl(223, 47%, 23%)";
}