html {
    font-family: var(--main-font);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

}

.background {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    background-image: url('../images/order-summary/main-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    width: 350px;
    background: url('../images/order-summary/card-background.png');
    background-size: cover;
    border-radius: 1.5rem;
    margin: 0 1rem;
}

picture {
    display: block;
    height: 20%;
    width: 100%;
}

.header-picture {
    border-radius: 1.5rem 1.5rem 0 0;
}

.main-container {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-texts {
    margin-top: 1rem;
    align-self: center;
    text-align: center;
}

.title {
    color: var(--main-color);
    font-weight: 900;
    font-size: 2.2rem;
}

.plan-data {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 3rem 0 1.5rem 0;
    background-color: var(--dark-main-color);
    border-radius: 1rem;
    padding: 1.5rem;
}

.plan-data,
.time-price {
    align-self: center;
}

.icon-plan {
    gap: 1.8rem;
}

.description {
    margin-top: 1.5rem;
}

.description,
.price {
    color: var(--soft-color);
    font-weight: 300;
    line-height: 2.5rem;
}

.secondary-text {
    color: var(--soft-color);
    font-size: 1.4rem;
    font-weight: 900;
}

.change,
.change a {
    font-size: 1.4rem;
    text-decoration: underline;
    color: var(--main-color);
}

.price {
    font-size: 1.4rem;
    font-weight: 400;
}

.icon {
    height: 50px;
}

.buttons-section {
    text-align: center;
    margin: 1rem 0;
    align-self: center;
    width: 100%;
}

.payment-button a,
.cancel-button a {
    width: 100%;
    display: block;
}

.payment-button a {
    color: var(--very-soft-color);
    background-color: var(--main-color);
    padding: 1.5rem 3rem;
    width: 100%;
    border-radius: 1.3rem;
}

.payment-button a,
.cancel-button a {
    font-size: 1.7rem;
    font-weight: 700;
}

.cancel-button {
    margin: 2rem 0 1rem 0;
}

.soft-color a {
    color: var(--soft-color);
}

.payment-button a:hover {
    background-color: var(--dark-main-color);
}

.change a:hover {
    color: var(--soft-color);
}

.cancel-button a:hover {
    color: var(--main-color);
}

@media (min-width: 400px) {
    .main {
        width: 395px;
    }

    .plan-data {
        padding: 1.5rem 2.3rem;
    }
}