.main-container {
    font-family: var(--main-font);
    height: 100vh;
    width: 100%;
    align-items: center;
    background: url('../images/order-summary/main-background.jpg') no-repeat center;
    background-size: cover;
}

.main {
    width: 350px;
    background: url('../images/order-summary/card-background.jpg') -5px;
    background-size: 150%;
    border-radius: 1.5rem;
    margin: 0 1rem;
}

picture {
    display: block;
}

picture,
.plan-data,
.payment-button a,
.cancel-button a,
.buttons-section {
    width: 100%;
}

.header-picture,
picture {
    height: 170px;
}

.header-picture {
    border-radius: 1.5rem 1.5rem 0 0;
}

.container {
    padding: 2rem 4rem;
    flex-direction: column;
}

.description-texts {
    text-align: center;
}

.secondary-text,
.title {
    font-weight: 900;
}

.title {
    color: var(--main-color);
    font-size: 2.2rem;
}

.plan-data {
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
    background-color: var(--dark-main-color);
    border-radius: 1rem;
    padding: 1.5rem;
}

.plan-data,
.time-price,
.description-texts {
    align-self: center;
}

.icon-plan {
    gap: 1.8rem;
}

.description {
    margin-top: 1.5rem;
}

.description,
.price,
.secondary-text {
    color: var(--soft-color);
}

.description,
.price {
    line-height: 2.5rem;
}

.secondary-text,
.change,
.change a,
.price {
    font-size: 1.4rem;
}

.change,
.change a {
    text-decoration: underline;
    color: var(--main-color);
}

.description,
.price {
    font-weight: 300;
}

.icon {
    height: 45px;
}

.buttons-section {
    text-align: center;
    margin: 1rem 0;
    align-self: center;
}

.payment-button a,
.cancel-button a {
    display: block;
}

.payment-button a {
    color: var(--very-soft-color);
    background-color: var(--main-color);
    padding: 1.5rem 3rem;
    border-radius: 1.3rem;
}

.payment-button a,
.cancel-button a {
    font-size: 1.7rem;
    font-weight: 700;
}

.cancel-button {
    margin: 2rem 0 1rem 0;
}

.soft-color a,
.change a:hover {
    color: var(--soft-color);
}

.payment-button a:hover {
    background-color: var(--dark-main-color);
}

.cancel-button a:hover {
    color: var(--main-color);
}

@media (min-width: 400px) {
    .main {
        width: 395px;
    }

    .plan-data {
        padding: 1.5rem 2.3rem;
    }

    .title {
        font-size: 2.7rem;
    }

    .description {
        font-size: 1.7rem;
        margin-top: 1rem;
    }
}

@media (max-width: 400px) {
    .icon-plan img {
        height: 40px;
        width: 40px;
    }

    .plan-data {
        padding: 1rem 2rem;
        margin: 0rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .description {
        margin: .5rem 0;
    }
}

@media (max-width: 370px) {
    .main {
        width: 320px;
    }

    .container {
        height: 370px;
        padding: 2rem;
        justify-content: space-between;
    }

    .plan-data {
        padding: 1rem 2rem;
        margin-top: 0rem;
    }

    .icon-plan img {
        height: 40px;
        width: 40px;
    }

    .description-texts {
        height: 150px;
        margin: 0;
    }

    .title {
        font-size: 2rem;
    }

    .description {
        margin: .5rem 0;
    }
}