html {
    font-family: var(--geral-font);
}

body {
    background: url('../images/product-page/main-background.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    align-items: center;
}

.main {
    background-color: var(--inverse-color);
    border-radius: 1.2rem;
}

.main,
.main picture {
    width: 320px;
}

.main picture {
    display: block;
    height: 225px;
}

.mobile-picture {
    border-radius: 1rem 1rem 0 0;
}

.title {
    font-family: var(--title-font);
}

.price {
    font-family: var(--alternative-font);
}

.text-info {
    width: 260px;
}

.title,
.price {
    font-size: 2.9rem;
    color: var(--main-color);
    margin-top: 1rem;
    line-height: 3rem;
}

.description-text {
    line-height: 2rem;
}

.description-text,
.price-info {
    margin-top: 1.5rem;
}

.description-text,
.light-text {
    color: var(--dark-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.info-container {
    padding: 2.3rem;
    width: 320px;
}

.letter-spacing {
    letter-spacing: .4rem;
}

.price {
    align-self: center;
    height: 40px;
    margin-right: 1.6rem;
}

.buy-button a,
.price-info {
    align-items: center;
}

.buy-button a {
    margin-top: .5rem;
    width: 274px;
    background-color: var(--main-color);
    padding: 1.4rem 7rem;
    border-radius: 1rem;
    gap: 1.2rem;
}

.buy-button {
    background-color: transparent;
}

.text-button {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light-color);
}

.buy-button a:hover {
    background-color: var(--dark-color);
}

.taxado {
    text-decoration: line-through;
}

@media (min-width: 800px) {
    .main {
        width: 640px;
        display: flex;
    }

    .info-container {
        height: 480px;
    }

    .mobile-picture {
        border-radius: 1rem 0 0 1rem;
    }

    .text-info {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .description-text {
        font-size: 1.6rem;
    }

    .title {
        font-size: 3rem;
        line-height: 4rem;
    }
}