.main-container {
    font-family: var(--font-profile-card);
    color: var(--light-color);
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background: url('../images/profile-card/main-background.jpg') no-repeat;
    background-size: cover;
}

.main {
    width: 320px;
    background-color: var(--dark-color);
    border-radius: 1.7rem;
    margin: 0 1rem;
    border: 3px solid var(--inverse-color);
}

.personal-info .name,
.statistic-container .quantity-data {
    font-size: 2.7rem;
    font-weight: 700;
}

.personal-info .location,
.statistic-container .data-class {
    color: var(--inverse-color);
    font-size: 1.6rem;
    font: 300;
}

.personal-info,
.statistics {
    text-align: center;
}

.personal-info {
    margin-top: 8rem;
}

.main-card {
    flex-direction: column;
    align-items: center;
    position: relative;
}

.statistics {
    justify-content: space-evenly;
    margin: 2.2rem 0;
    width: 90%;
}

.background-card-image {
    border-radius: 1.5rem 1.5rem 0 0;
}

.avatar-image {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 4px solid var(--inverse-color);
    position: absolute;
    top: -10rem;
}

.decorative-line {
    margin-top: 2rem;
    width: 100%;
    height: 2px;
    background-color: var(--inverse-color);
}