html {
    font-family: var(--main-font);
    background-color: #000000;
}

.main-container {
    height: 100vh;
    align-items: center;
}

.main {
    width: 315px;
    margin: 0 1rem;
}

.title-desription {
    border-radius: 1rem 1rem 0 0;
}

.footer {
    border-radius: 0 0 1rem 1rem;
}

.title-desription,
.subscription-section,
.footer {
    padding: 3rem 2.6rem;
}

.title-desription {
    background-color: var(--light-color);
}

.subscription-section {
    background-color: var(--alternative-main-color);
}

.footer {
    background-color: var(--main-color);

}

.responsive-bottom {
    flex-direction: column;
}

.thin {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.light-color,
a {
    color: var(--light-color);
}

a {
    display: block;
    width: 100%;
    height: 100%;
}

.soft-gray {
    color: var(--soft-gray);
}

.main-color {
    color: var(--main-color);
}

.main-inverse-color {
    color: var(--main-inverse-color);
}

.margin-top-title-section {
    margin-top: 1.8rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.35rem;
    line-height: 2.5rem;
}

p {
    font-size: 1.5rem;
}

a {
    font-size: 1.5rem;
}

.size-2 {
    font-size: 1.5rem;
}

.price {
    font-size: 3.1rem;
}

.price-time {
    align-items: center;
    gap: 1.3rem;
}

.time {
    align-self: center;
    font-size: 1.4rem;
}

.sign-up-button {
    background-color: var(--main-inverse-color);
    padding: 2rem 5rem;
    text-align: center;
    border-radius: .7rem;
}

li a {
    font-size: 1.3rem;
    margin-top: .5rem;
}

@media (min-width: 680px) {

    .main {
        width: 660px;
    }

    .responsive-bottom {
        flex-direction: row;
    }

    .subscription-section,
    .footer {
        width: 50%;
    }

    .sign-up-button {
        height: 55px;
        line-height: 15px;
    }

    .title-desription,
    .subscription-section,
    .footer {
        padding: 4rem;
    }

    .title-desription {
        padding-right: 5rem;
    }

    .title-desription h3 {
        font-size: 1.6rem;
    }

    .title-desription h2 {
        font-size: 2.5rem;
    }

    .title-desription p {
        font-size: 1.9rem;
    }

    .title-desription {
        border-radius: 1rem 1rem 0 0;
    }

    .footer {
        border-radius: 0 0 1rem 0;
    }

    .subscription-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0 0 0 1rem;
    }
}