.main-container {
    font-family: var(--main-font);
    height: 100vh;
    align-items: center;
    background-color: var(--soft-gray);
}

.main {
    width: 315px;
    margin: 0 1rem;
}

.logo-font {
    font-family: var(--title-font);
}

.youtube-icon {
    gap: .8rem;
    align-items: center;
}

.youtube-icon img {
    height: 35px;
}

.youtube-icon p {
    font-size: 2.4rem;
}

.main-description,
.hero-info-text {
    margin-top: .8rem;
    font-weight: 400;
}

.main-description {
    font-size: 3rem;
}

.hero-info-text {
    font-size: 1.5rem;
}

.title-description {
    height: 280px;
    padding: 4rem 2.6rem;
}

.title-description,
.subscription-section {
    flex-direction: column;
    justify-content: space-between;
}

.subscription-section,
.footer {
    padding: 3rem 2.6rem;
    height: 250px;
}

.footer,
.title-description {
    background-color: var(--main-color);
}

.title-description {
    border-radius: 1rem 1rem 0 0;
}

.subscription-section {
    background-color: var(--light-color);
    color: var(--main-color);
}

.subscription-section .plan-name,
.why-us,
.sign-up-button-text {
    font-size: 3rem;
}

.subscription-section .plan-name,
.why-us {
    font-family: var(--title-font);
}

.subscription-section .plan-name,
.why-us,
.price-time .price,
.plan-description,
.sign-up-button-text {
    font-weight: 500;
}

.plan-description,
.price-time {
    margin-top: 1rem;
}

.price-time {
    align-items: center;
    gap: 1.5rem;
}

.price-time .price {
    font-size: 3.7rem;
}

.plan-description {
    font-size: 1.8rem;
}

.footer {
    border-radius: 0 0 1rem 1rem;
}

.sign-up-button-text,
.link-footer {
    margin-top: 1.4rem;
}

.sign-up-button-text {
    background-color: var(--main-inverse-color);
    color: var(--light-color);
    padding: 1rem 5rem;
    text-align: center;
    border-radius: 1.6rem;
}

.link-footer a {
    color: var(--soft-gray);
}

.link-footer li {
    font-size: 1.3rem;
    margin-top: .2rem;
}

.responsive-bottom {
    flex-direction: column;
}

@media (min-width: 620px) {

    .link-footer {
        margin-top: 0rem;
    }

    .main {
        width: 600px;
    }

    .title-description {
        height: 200px;
    }

    .responsive-bottom {
        flex-direction: row;
    }

    .subscription-section,
    .footer {
        width: 50%;
        padding: 3rem 2.6rem;
    }

    .footer {
        border-radius: 0 0 1rem 0;
    }

    .subscription-section {
        border-radius: 0 0 0 1rem;
    }

    .price-time .price {
        font-size: 4rem;
    }

    .price-time {
        margin-top: 0;
    }

    .plan-description {
        margin-top: .2;
        font-size: 1.7rem;
    }

    .link-footer li {
        font-size: 1.4rem;
    }

    .sign-up-button-text {
        margin-top: 0rem;
    }
}