html {
    font-family: var(--main-font);
    background-color: #000000;
}

.main {
    width: 315px;
    margin-top: 5rem;
}

.title-desription,
.subscription-section,
.footer {
    padding: 2.6rem;
}

.title-desription {
    background-color: var(--light-color);
}

.subscription-section {
    background-color: var(--main-color);
}

.thin {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.light-color,
a {
    color: var(--light-color);
}

.soft-gray {
    color: var(--soft-gray);
}

.main-color {
    color: var(--main-color);
}

.main-inverse-color {
    color: var(--main-inverse-color);
}

.margin-top-title-section {
    margin-top: 2.3rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.35rem;
    line-height: 2.5rem;
}

p {
    font-size: 1.5rem;
}

.size-2 {
    font-size: 1.5rem;
}

.price {
    font-size: 3.1rem;
}

.price-time {
    align-items: center;
    gap: 1.3rem;
}

.time {
    align-self: center;
    font-size: 1.4rem;
}

.sign-up-button {
    background-color: var(--main-inverse-color);
    padding: 2rem 5rem;
    text-align: center;
    border-radius: 1.2rem;
}