/* ----------- 3-column-variables ----------- */
:root {
    --sedans-background-color: hsl(31, 77%, 52%);
    --suv-background-color: hsl(184, 100%, 13%);
    --luxury-background-color: hsl(179, 100%, 13%);

    --transparent-color: hsl(0, 0%, 100%, 0.75);
    --light-color: hsl(0, 0%, 95%);

    --title-font: "Big Shoulders Display";
    --description-font: "Lexend Deca";
}

/* ----------- profile-card ----------- */

:root {
    --card-color: #303030;
    --inverse-color: #A78A82;
    --light-color: #E0E5E4

    --font-profile-card: "Kumbh Sans"
}