/* ----------- Global-colors -------------*/
:root {
    --light-color: #E0E5E4;
}


/* ----------- 3-column ----------- */
:root {
    --sedans-background-color: hsl(31, 77%, 52%);
    --suv-background-color: hsl(184, 100%, 13%);
    --luxury-background-color: hsl(179, 100%, 13%);

    --transparent-color: hsl(0, 0%, 100%, 0.75);

    --title-font: "Big Shoulders Display";
    --description-font: "Lexend Deca";
}

/* ----------- profile-card ----------- */

:root {
    --card-color: #303030;
    --inverse-color: #A78A82;

    --font-profile-card: "Kumbh Sans";
}

/* ----------- product-page ----------- */

:root {
    --title-color: hsl(212, 21%, 14%);
    --soft-dark-color: hsl(228, 12%, 48%);
    --price-color: hsl(158, 36%, 37%);
    --soft-color: hsl(30, 38%, 92%);

    --geral-font: "Montserrat";
    --alternative-font: "Fraunces";
}